In [3]:
import pandas as pd

In [4]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read files into DataFrame
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# combining data into single dataset

complete = pd.merge(student_data, school_data, how="left", on=['school_name', 'school_name'])

complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [18]:
#unique school calculation

school_count = complete["school_name"].nunique()
school_count

15

In [42]:
#total student calculation

student_count = complete["student_name"].count()
student_count

39170

In [43]:
complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [62]:
ind_school = complete.groupby(["school_name", "budget"])
print(ind_school["budget"].sum())
budget_list = [(complete['budget'].unique())]
sum(budget_list)

school_name            budget
Bailey High School     3124928    15549641728
Cabrera High School    1081356     2009159448
Figueroa High School   1884411     5557128039
Ford High School       1763916     4831365924
Griffin High School    917500      1346890000
Hernandez High School  3022020    14007062700
Holden High School     248087       105933149
Huang High School      1910635     5573322295
Johnson High School    3094650    14733628650
Pena High School       585858       563595396
Rodriguez High School  2547363    10186904637
Shelton High School    1056600     1860672600
Thomas High School     1043130     1705517550
Wilson High School     1319574     3012587442
Wright High School     1049400     1888920000
Name: budget, dtype: int64

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130])

In [38]:
#total budget calculation

#total_budget = complete[(complete["budget"] != complete["budget"])].sum()["school_name"]
total_budget = complete.loc[complete['school_name'] != complete['school_name'], 'budget'].sum()
total_budget

0

In [27]:
# Average math score
avg_math = complete["math_score"].mean()
avg_math

78.98537145774827

In [28]:
# Average reading score
avg_read = complete["reading_score"].mean()
avg_read

81.87784018381414

In [35]:
# Percentage of students who passed math
math_pass_count = complete[(complete["math_score"] >= 70)].count()["student_name"]
math_pass_pcnt = math_pass_count / float(student_count) *100
math_pass_pcnt

74.9808526933878

In [37]:
# Percentage of students who passed reading
read_pass_count = complete[(complete["reading_score"] >= 70)].count()["student_name"]
read_pass_pcnt = read_pass_count / float(student_count) *100
read_pass_pcnt

85.80546336482001

In [64]:
# Percentage of students who passed math and reading
passing_read_math_count = complete[(complete["math_score"] >= 70) & 
                                   (complete["reading_score"] >= 70)].count()["student_name"]
overall_pass_pcnt = passing_read_math_count / float(student_count) * 100
overall_pass_pcnt

65.17232575950983

In [69]:
dist_summary_df = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count], 
                                "Avg Math Score":[avg_math], "Avg Reading Score":[avg_read], 
                                "% Passing Math":[math_pass_pcnt], "% Passing Reading":[read_pass_pcnt],
                               "% Overall Passing":[overall_pass_pcnt]})

dist_summary_df["Total Students"] = dist_summary_df["Total Students"].map("{:,}".format)
#dist_summary_df["Total Budget"] = dist_summary_df["Total Budget"].map("${:,.2f}".format)

dist_summary_df

,Total Schools,Total Students,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",78.985371,81.87784,74.980853,85.805463,65.172326